[Unit]
Description=Multilidar starting service device 8
After=lidar_7.service
PartOf=multiple_lidar_barre_2.target

[Service]
Type=simple
RemainAfterExit=no
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/multiple_lidar 2025042800140258
Restart=always
ExecStop=pkill 'multiple_lidar 2025042800140258'

[Install]
WantedBy=multi-user.target
