[Unit]
Description=Multilidar starting service device 3
After=lidar_1_light.service
PartOf=multiple_lidar_barre_1_light.target

[Service]
Type=simple
RemainAfterExit=no
ExecStartPre=/bin/sleep 20
ExecStart=/usr/bin/multiple_lidar 2024110800141338 3
Restart=always
ExecStop=pkill 'multiple_lidar 2024110800141338 3'

[Install]
WantedBy=multi-user.target
