[Unit]
Description=Multilidar starting service device on bar 1

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=systemctl start multiple_lidar_1 multiple_lidar_2 multiple_lidar_3 multiple_lidar_4 multiple_lidar_5 multiple_lidar_6
Restart=no
ExecStop=systemctl stop multiple_lidar_1 multiple_lidar_2 multiple_lidar_3 multiple_lidar_4 multiple_lidar_5 multiple_lidar_6

[Install]
WantedBy=multi-user.target
